<h1>Palindrome Checker!</h1>
<h2>Enter your word here, let's see if it's a palindrome!</h2>
<form action="/results" method="post">
    <input type="text" name="userWord" />
    <input type="submit" value="Check it out!" />
</form>